---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
import '../styles/global.css';
import GlobalContactForm from '../components/GlobalContactForm.astro';
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | Fbaleste Urgence Plomberie</title>
		<meta name="description" content={description} />
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&family=Outfit:wght@400;700&display=swap" rel="stylesheet">
	</head>
	<body>
		<slot />
		<GlobalContactForm />
	</body>
</html>
